<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <description>Spring common config</description>

    <context:component-scan base-package="com.taocoder.spring"/>


    <bean id="propertyConfigurer"
          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:default.properties</value>
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 配置数据库注解aop -->
    <aop:aspectj-autoproxy/>
    <!-- 配置数据库注解aop -->
    <bean id="dataSourceAspect" class="com.taocoder.spring.service.dataSource.DataSourceAspect"/>
    <aop:config>
        <aop:aspect id="dsa" ref="dataSourceAspect">
            <aop:pointcut id="pc" expression="execution(* com.taocoder.spring.dao.*.*(..))"/>
            <aop:before pointcut-ref="pc" method="before"/>
            <aop:after pointcut-ref="pc" method="after"/>
        </aop:aspect>
    </aop:config>

    <!-- spring -->
    <import resource="spring/applicationContext-dataSource.xml"/>
    <import resource="spring/applicationContext-web.xml"/>

</beans>