#######开放模式############

###############
#    folder   #
###############
/target/




###############
#  fixed file #
###############
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
###############
#  temp file  #
###############
~*
*.cmm
*.men
*.ini
*.fig
*.cmp

# kdiff3 ignore
*.orig

# maven ignore
target/
logs/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
**/.DS_Store
**/out/
**/.idea/
**/.classpath
**/.project
**/target/
**/.settings/
**/coverage-report/
**/metadata/
.metadata/
**/logs/
logs/
/.idea/
# temp ignore
*.log
*.cache
*.ver
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
